/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url('callCenter.jpg') no-repeat center center fixed;
    background-size: cover; 
    background-position: center;
    color: rgb(255, 255, 255);
}

h1 {
    text-align: center;
    color: rgba(255, 255, 255, 0.7);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

/* Container Styles */
.container {
    text-align: center;
    margin-bottom: 20px;
}

.container, .callerNotepad, .partNotepad, .scratchPad {
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
}

/* Flexbox layout for main content */
.flex-container {
    display: flex;
    flex-wrap: wrap;  
    justify-content: space-between;
    align-items: flex-start;
}

/* Container Sizes */
.callerNotepad, .partNotepad {
    flex: 1 1 45%; 
    margin: 20px;
    max-width: 500px;
}

.scratchPad {
    flex: 1 1 90%; 
    margin: 20px;
    max-width: 800px; 
}

/* Search Container */
.gcse-search-container {
    width: 400px;
    margin: 0 auto;
}

/* Media Queries for larger screens */
@media (min-width: 1024px) {
    .callerNotepad, .partNotepad {
        flex: 1 1 45%; 
    }

    .scratchPad {
        flex: 1 1 60%; 
    }
}

@media (min-width: 1440px) {
    .callerNotepad, .partNotepad {
        flex: 1 1 30%; 
    }

    .scratchPad {
        flex: 1 1 50%; 
    }
}

.gsc-control-cse {
    border-color: #902424;
}

input.gsc-input {
    border-radius: 4px;
    padding: 5px;
    border: 1px solid #902424;
    transition: box-shadow 0.3s;
}

input.gsc-input:focus {
    box-shadow: 0 0 8px rgba(144, 36, 36, 0.4);
}

/* Button Styles */
button {
    padding: 10px 15px;
    background-color: #902424;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

button:hover {
    background-color: #781c1c;
    transform: translateY(-2px);
}

/* Button Positioning */
.authNoteButton, .statusNoteButton, .laborNoteButton, .laborNegButton, .launchButton, .paymentInfoButton, .electricalDiag, .chemDiagRef, .otherDiag, .inspectionNote, .ptTransferButton {
    position: absolute;
}

.authNoteButton { top: 30px; left: 30px; }
.statusNoteButton { top: 70px; left: 30px; }
.inspectionNote { top: 110px; left: 30px; }
.laborNoteButton { top: 150px; left: 30px; }
.paymentInfoButton { top: 30px; left: 225px; }
.otherDiag { top: 70px; left: 225px;}
.electricalDiag { top: 110px; left: 225px; }
.chemDiagRef { top: 150px; left: 225px;}
.laborNegButton { top: 90px; right: 300px; }
.ptTransferButton { top: 50px; right: 300px;}
.launchButton { top: 90px; right: 75px; }

/* Notepad Styles */
.callerNotepad, .partNotepad {
    width: 250px;
    top: 200px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
    position: absolute;
    transition: transform 0.3s, box-shadow 0.3s;
}

.callerNotepad { left: 20px; }

.partNotepad { right: 20px; }

.callerNotepad:hover, .partNotepad:hover, .scratchPad:hover { 
    transform: translateY(-5px); 
    box-shadow: 0 6px 25px rgba(0, 0, 0, 0.2); 
}

.partNotepad label, .callerNotepad label {
    display: block;
    margin-top: 10px;
}

/* Input Styles for Notepads */
.callerNotepad input,
.callerNotepad textarea,
.partNotepad input,
.partNotepad textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.7);
}

.callerNotepad textarea {
    height: 100px;
    resize: vertical;
}

.partNotepad textarea {
    height: 145px;
    resize: vertical;
}

/* Button Styles for Notepads */
.callerNotepad button, .partNotepad button {
    margin-top: 20px;
    padding: 10px 15px;
    background-color: #902424;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.callerNotepad button:hover, .partNotepad button:hover {
    background-color: #781c1c;
    transform: translateY(-2px);
}

/* Scratch Pad Styles */
.scratchPad {
    width: 1300px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
    position: absolute;
    top: 675px; 
    left: 0;
    right: 0;
    transition: transform 0.3s, box-shadow 0.3s;
    text-align: center;
}

.scratchPad label {
    font-size: 24px;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}

.scratchPad textarea {
    width: 100%;
    height: 150px;
    padding: 8px;
    margin-top: 5px;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.7);
    resize: vertical;
}

/* Button Styles for Scratch Pad */
.scratchPad button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 15px;
    background-color: #902424;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.scratchPad button:hover {
    background-color: #781c1c;
    transform: translateY(-2px);
}
