body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url('callCenter.jpg') no-repeat center center fixed;
    background-size: cover; 
    background-position: center;
    color: rgb(255, 255, 255);
}

.container, .callerNotepad, .partNotepad {
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
}

h1 {
    text-align: center;
    color: rgba(255, 255, 255, 0.7);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.container {
    text-align: center;
    margin-bottom: 20px;
}

.gcse-search-container {
    width: 400px;
    margin: 0 auto;
}

.gsc-control-cse {
    border-color: #902424;
}

input.gsc-input {
    border-radius: 4px;
    padding: 5px;
    border: 1px solid #902424;
    transition: box-shadow 0.3s;
}

input.gsc-input:focus {
    box-shadow: 0 0 8px rgba(144, 36, 36, 0.4);
}

button.gsc-search-button {
    background-color: #902424;
    color: rgba(255, 255, 255, 0.7);
    border-radius: 4px;
    padding: 5px 10px;
    transition: background-color 0.3s;
}

button.gsc-search-button:hover {
    background-color: #781c1c;
}

.authNoteButton {
    top: 20px;
    left: 30px;
    margin-top: 10px;
    position: absolute;
}

.authNoteButton button {
    padding: 10px 15px;
    background-color: #902424;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.authNoteButton button:hover {
    background-color: #781c1c;
    transform: translateY(-2px);
}

.statusNoteButton {
    top: 60px;
    left: 30px;
    margin-top: 10px;
    position: absolute;
}

.statusNoteButton button {
    padding: 10px 15px;
    background-color: #902424;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.statusNoteButton button:hover {
    background-color: #781c1c;
    transform: translateY(-2px);
}

.laborNoteButton {
    top: 100px;
    left: 30px;
    margin-top: 10px;
    position: absolute;
}

.laborNoteButton button {
    padding: 10px 15px;
    background-color: #902424;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.laborNoteButton button:hover {
    background-color: #781c1c;
    transform: translateY(-2px);
}

.laborNegButton {
    top: 140px;
    left: 30px;
    margin-top: 10px;
    position: absolute;
}

.laborNegButton button, .getStartedButton button {
    padding: 10px 15px;
    background-color: #902424;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.laborNegButton button:hover, .getStartedButton button:hover {
    background-color: #781c1c;
    transform: translateY(-2px);
}

.getStartedButton {
    top: 90px;
    right: 100px;
    margin-top: 10px;
    position: absolute;
}

.callerNotepad {
    width: 250px;
    top: 200px;
    left: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
    position: absolute;
    transition: transform 0.3s, box-shadow 0.3s;
}

.callerNotepad:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 25px rgba(0, 0, 0, 0.2);
}

.callerNotepad label {
    display: block;
    margin-top: 10px;
}

.callerNotepad input,
.callerNotepad textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.7);
}

.callerNotepad textarea {
    height: 100px;
    resize: vertical;
    background-color: rgba(255, 255, 255, 0.7);
}

.callerNotepad button {
    margin-top: 20px;
    padding: 10px 15px;
    background-color: #902424;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.callerNotepad button:hover {
    background-color: #781c1c;
    transform: translateY(-2px);
}

.partNotepad {
    width: 250px;
    top: 200px;
    right: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
    position: absolute;
    transition: transform 0.3s, box-shadow 0.3s;
}

.partNotepad:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 25px rgba(0, 0, 0, 0.2);
}

.partNotepad label {
    display: block;
    width: 100%;
    margin-top: 10px;
    text-align: center;
}

.partNotepad input,
.partNotepad textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.7);
}

.partNotepad textarea {
    height: 140px;
    resize: vertical;
    background-color: rgba(255, 255, 255, 0.7);
}

.partNotepad button {
    display: block;
    margin: 20px auto 0 auto;
    padding: 10px 15px;
    background-color: #902424;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.partNotepad button:hover {
    background-color: #781c1c;
    transform: translateY(-2px);
}
