body {
    font-family: Arial, sans-serif;
    color: #902424;
    margin: 20px;
    background-color: #639cd9;
}

h1 {
    text-align: center;
}

.container {
    margin-bottom: 20px; 
    text-align: left; 
}

.notepad {
    width: 220px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px; 
}

.notepad label {
    display: block;
    margin-top: 10px;
}

.notepad input,
.notepad textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.notepad textarea {
    height: 100px;
    resize: vertical; 
}

.notepad button {
    margin-top: 20px;
    padding: 10px 15px;
    background-color: #902424;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.notepad button:hover {
    background-color: #781c1c;
}

.laborButton {
    margin-top: 10px; 
}

.laborButton button {
    padding: 10px 15px;
    background-color: #902424;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.laborButton button:hover {
    background-color: #781c1c;
}

.calculator {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 220px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#display {
    background-color: darkgray;
    width: 100%;
    height: 40px;
    text-align: right;
    margin-bottom: 10px;
    font-size: 18px;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.buttons button {
    padding: 15px;
    font-size: 18px;
    background-color: #902424;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.buttons button:hover {
    background-color: #781c1c;
}

.log-section {
    margin-top: 20px;
    text-align: center;
}

.clear-results-button {
    background-color: #902424; 
    color: white; 
    border: none; 
    padding: 10px 15px; 
    border-radius: 5px; 
    cursor: pointer; 
    font-size: 16px; 
    margin-top: 10px; 
}

.clear-results-button:hover {
    background-color: #781c1c;
}

#resultLog {
    background-color: darkgray;
    width: 100%;
    height: 100px;
    margin-bottom: 10px;
    resize: none;
    font-size: 14px;
    padding: 8px;
    box-sizing: border-box;
    border-radius: 4px;
}
